.body{
    position: relative;
}


.btn{
    position: absolute;
    top: 40px;
    right: 45%;
    width: 250px;
    height: 50px;
    background-color: bisque;
    border-radius: 20px;
}
.ikon li{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 250px;
}
.img{
    position: absolute;
    top: 30%;
    left: 30%;
    border: 8px solid rgb(48, 5, 104);
    border-radius: 8px;
    background: transparent;
}
.baslik{
    position: absolute;
    text-align: center;
    top: 100%;
}
    
